Appendix A

In [1]:
#1 자료형

In [2]:
a = 1000
print(a)

1000

In [3]:
a = -7
print(a)

-7

In [4]:
a = 0
print(a)

0

In [5]:
a = 157.93
print(a)

157.93

In [6]:
a = -1837.2
print(a)

-1837.2

In [7]:
a = 5.
print(a)

5.0

In [8]:
a = -.7
print(a)

-0.7

In [9]:
a = 1e9
print(a)

1000000000.0

In [10]:
a = 75.25e1
print(a)

752.5

In [11]:
a = 3594e-3
print(a)

3.594

In [12]:
a = 0.3 + 0.6
print(a)

0.8999999999999999

In [13]:
a = 0.3 + 0.6
if a == 0.9:
    print(True)
else:
    print(False)

False

In [14]:
a = 0.3 + 0.6
if round(a,4) == 0.9:
    print(True)
else:
    print(False)

True

In [15]:
a = 7 
b = 3

print(a/b)
print(a%b)
print(a//b)

2.3333333333333335
1
2

In [16]:
a = 5
b = 3
print(a**b)

125

In [17]:
a = [1,2,3,4,5,6,7,8,9]
print(a)
print(a[4])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
5

In [18]:
a = list()
print(a)

[]

In [19]:
a = []
print(a)

[]

In [20]:
n = 10
a = [0] * n
print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [23]:
a = [1,2,3,4,5,6,7,8,9]
print(a[0])
print(a[-1])

a[3] = 7
print(a)

print(a[1:4])

1
9
[1, 2, 3, 7, 5, 6, 7, 8, 9]
[2, 3, 7]

In [24]:
array = [i for i in range(20) if i % 2 == 1]
print(array)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [25]:
array = []

for i in range(20):
    if i % 2 == 1:
        array.append(i)
print(array)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [27]:
array = [i for i in range(20) if i % 2 == 1]
print(array)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [28]:
array = [i*i for i in range(1,10)]
print(array)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [29]:
array = []

for i in range(1, 10):
    array.append(i*i)
print(array)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
n = 3
m = 3
array = [[0]*m for _ in range(n)]
print(array)
array[1][1] = 5
print(array)
print(array[0])
print(array[1])
print(array[2])

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[0, 0, 0], [0, 5, 0], [0, 0, 0]]
[0, 0, 0]
[0, 5, 0]
[0, 0, 0]

In [33]:
n = 3
m = 4
array = [[0]*m]*n
print(array)

array[1][1] = 5
print(array)
print(array[1])

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[[0, 5, 0, 0], [0, 5, 0, 0], [0, 5, 0, 0]]
[0, 5, 0, 0]

In [38]:
a = [1,4,3]
print("기본 리스트:", a)

a.append(2)
print("삽입:",a)

a.sort()
print("오름차순 정렬:", a)

a.sort(reverse = True)
print("내림차순 정렬:",a)

a.reverse()
print("원소 뒤집기:", a)

a.insert(2,3)
print("인덱스 2에 3추가:", a)

print("값이 3인 데이터 개수:", a.count(3))

a.remove(1)
print("값이 1인 데이터 삭제:", a)

기본 리스트: [1, 4, 3]
삽입: [1, 4, 3, 2]
오름차순 정렬: [1, 2, 3, 4]
내림차순 정렬: [4, 3, 2, 1]
원소 뒤집기: [1, 2, 3, 4]
인덱스 2에 3추가: [1, 2, 3, 3, 4]
값이 3인 데이터 개수: 2
값이 1인 데이터 삭제: [2, 3, 3, 4]

In [39]:
a = [1,2,3,4,5,5,5]
remove_set = [3,5]

result = [i for i in a if i not in remove_set]
print(result)

# result = [i for i in a if i not in remove_set]

[1, 2, 4]

In [40]:
data = 'Hello World'
print(data)

Hello World

In [42]:
data = "Don't you know \"Python\"?"
print(data)

Don't you know "Python"?

In [43]:
data = "Don't you know \"Python\"?"
print(data)

Don't you know "Python"?

In [45]:
a = "Hello"
b = "world"
print(a+b)

print(a + " " + b)
print(a+""+b)

Helloworld
Hello world
Helloworld

In [47]:
a = "String"
print(a*3)

StringStringString

In [48]:
a = "ABCDEF"
print(a[2:4])

CD

In [52]:
a = (1,2,3,4,5)
print(a)
print(type(a))
print(a[2])
a[2]=7

(1, 2, 3, 4, 5)
<class 'tuple'>
3

TypeError: 'tuple' object does not support item assignment

In [53]:
data = dict()
print(type(data))

<class 'dict'>

In [58]:
data = {}
print(type(data))

data['사과'] = 'apple'
data['바나나'] = 'banana'
data['코코넛'] = 'coconut'
print(data)

if '사과' in data:
    print("Yes")
else:
    print("NO")

<class 'dict'>
{'사과': 'apple', '바나나': 'banana', '코코넛': 'coconut'}
Yes

In [63]:
data = dict()
data['사과'] = 'apple'
data['바나나'] = 'banana'
data['코코넛'] = 'coconut'

key_list = data.keys()
value_list = data.values()
print(key_list)
print(value_list)

for key in key_list:
    print(data[key])

dict_keys(['사과', '바나나', '코코넛'])
dict_values(['apple', 'banana', 'coconut'])
apple
banana
coconut

In [65]:
data = set([1,1,2,3,4,4,5])
print(data)
print(type(data))

{1, 2, 3, 4, 5}
<class 'set'>

In [66]:
data = {1,1,2,3,4,4,5}
print(data)

{1, 2, 3, 4, 5}

In [67]:
data = {}
print(type(data))

<class 'dict'>

In [68]:
data = ([])
print(type(data))

<class 'list'>

In [69]:
a = set([1,2,3,4,5])
b = set([3,4,5,6,7])
print(a|b)
print(a&b)
print(a-b)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}

In [70]:
data = set()
print(type(data))

<class 'set'>

In [72]:
data = set([1,2,3,4,5])
print(data)

{1, 2, 3, 4, 5}

In [73]:
data = set([1,2,3])
print(data)

data.add(4)
print(data)

data.update([5,6])
print(data)

data.remove(3)
print(data)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}

In [74]:
x = 15

if x >= 10:
    print(x)

15

In [76]:
score = 85

if score >= 70:
    print("성적이 70점 이상입니다.")
    if score >= 90:
        print("우수한 성적입니다.")
else:
    print("성적이 70점 미만입니다.")
print("프로그램을 종료합니다>")

성적이 70점 이상입니다.
프로그램을 종료합니다>

In [77]:
score = 85
if score >= 80:
    pass
else:
    print("성적이 80점 미만입니다.")
    
print("프로그램을 종료합니다.")

프로그램을 종료합니다.

In [79]:
score = 85

if score >= 80: result = "Sucess"
else: result = "Fail"
    
print(result)

Sucess

In [80]:
a = [1,2,3,4,5,5,5]
remove_set = [3,5]

result = []

for i in a:
    if i not in remove_set:
        result.append(i)
        
print(result)

[1, 2, 4]

In [84]:
score = [90, 85, 77, 65, 97]

for i in range(len(score)):
    if score[i] >= 80:
        print(i+1,"번 학생은 합격입니다.")

1 번 학생은 합격입니다.
2 번 학생은 합격입니다.
5 번 학생은 합격입니다.

In [86]:
score = [90, 85, 77, 65, 97]
black_list = [2,4]

for i in range(len(score)):
    if i+1 in black_list:
        continue
    if score[i] > 80:
        print(i+1, "번 학생은 합격입니다.")

1 번 학생은 합격입니다.
5 번 학생은 합격입니다.

In [87]:
for i in range(2, 10):
    for j in range(1, 10):
        print(i, "X", j, "=", i*j)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [92]:
def add(a,b):
    return a+b

print(add(3,7))
print((lambda a, b: a+b)(3,7))

10
10

In [89]:
a = 0

def func():
    global a
    a += 1
    
for i in range(10):
    func()
    
print(a)

10

In [93]:
print((lambda a, b: a*b)(3,7))

21

In [96]:
n = int(input())
data = list(map(int, input().split()))

data.sort(reverse = True)
print(data)

5
65 90 75 34 99
[99, 90, 75, 65, 34]

In [97]:
n,m,k = map(int,input().split())
print(n,m,k)

3 5 7
3 5 7

In [98]:
import sys

sys.stdin.readline().rstrip()

''

In [100]:
import sys

data = sys.stdin.readline().rstrip()
print(data)

In [101]:
a = 1
b = 2
print(a, b)

1 2

In [103]:
answer = 7
print(f"정답은 {answer}입니다.")

정답은 7입니다.

In [104]:
result = sum([1,2,3,4,5,6])
print(result)

21

In [105]:
result = min(7,3,5,2)
print(result)

2

In [109]:
a = [1,2,3,4,5,6,7,8,9]

a.sort(reverse = True)
print(a)

b = sorted(a,reverse = True)
print(b)

[9, 8, 7, 6, 5, 4, 3, 2, 1]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [110]:
result = sorted([('홍길동',35),('이순신',75),('아무개',50)], key = lambda x: x[1], reverse = True)
print(result)

[('이순신', 75), ('아무개', 50), ('홍길동', 35)]

In [111]:
from itertools import permutations

data = ['A','B','C']

result = list(permutations(data,3))
print(result)

[('A', 'B', 'C'), ('A', 'C', 'B'), ('B', 'A', 'C'), ('B', 'C', 'A'), ('C', 'A', 'B'), ('C', 'B', 'A')]

In [116]:
from itertools import permutations, combinations

data = ['A','B','C']
result = list(permutations(data,3))
result1 = list(combinations(data,3))
print(result)
print(result1)

[('A', 'B', 'C'), ('A', 'C', 'B'), ('B', 'A', 'C'), ('B', 'C', 'A'), ('C', 'A', 'B'), ('C', 'B', 'A')]
[('A', 'B', 'C')]

In [117]:
import heapq

def heapsort(iterable):
    h = []
    result = []
    for value in iterable:
        heapq.heappush(h, value)
    for i in range(len(h)):
        result.append(heapq.heappop(h))
    return result

result = heapsort([1,3,5,7,9,11,13])
print(result)

[1, 3, 5, 7, 9, 11, 13]

In [120]:
import heapq

def heapsort(iterable):
    h = []
    result = []
    for value in iterable:
        heapq.heappush(h, -value)
    for i in range(len(h)):
        result.append(-heapq.heappop(h))
    return result

result = heapsort([1,3,5,7,9,11,13])
print(result)

[13, 11, 9, 7, 5, 3, 1]

In [121]:
from bisect import bisect_left, bisect_right

a = [1,2,4,4,8]
x = 4

print(bisect_left(a,x))
print(bisect_right(a,x))

2
4

In [122]:
from bisect import bisect_left, bisect_right

def count_by_range(a, left_value, right_value):
    right_index = bisect_right(a,right_value)
    left_index = bisect_left(a, left_value)
    return right_index - left_index

a = [1,2,3,3,3,3,4,4,8,9]

print(count_by_range(a,4,4))
print(count_by_range(a,-1,3))

2
6

In [125]:
from collections import deque

data = deque([2,3,4])
data.appendleft(1)
data.append(5)

print(data)
print(list(data))

deque([1, 2, 3, 4, 5])
[1, 2, 3, 4, 5]

In [131]:
from collections import Counter

counter = Counter(['red','blue','green','blue','blue'])

print(counter['blue'])
print(counter['red'])
print(dict(counter))

3
1
{'red': 1, 'blue': 3, 'green': 1}

In [130]:
a = ['red', 'blue', 'green', 'blue', 'blue']
print(a.count('blue'))

3

In [132]:
'''2차원 리스트를 90도 회전하는 메서드'''

def rotate_a_matrix_by_90_degree(a):
    row_length = len(a)
    column_length = len(a[0])
    
    res = [[0] * row_length for _ in range(column_length)]
    for r in range(row_length):
        for c in range(column_length):
            res[c][row_length - 1- r] = a[r][c]
            
    return res

a = [[1,2,3,4],[5,6,7,8],[9,10,11,12]]

print(rotate_a_matrix_by_90_degree(a))

[[9, 5, 1], [10, 6, 2], [11, 7, 3], [12, 8, 4]]

In [134]:
a = [[1,2,3,4],[5,6,7,8],[9,10,11,12]]

print(len(a))
print(len(a[0]))

3
4